ion-auto-complete {
    width: 100%;
    ul {
      width: auto !important;
      max-width: 100% !important;
      left: auto !important;
      right: 16px !important;
    }
  }
  #autocomp ul{
      width: auto;
  }
  